footer{
    width: 100%;
    .end{
    background-color: #79ADDC;
    height: 100px;
    left: 10px;
    display: flex;
        
    .logo{
        width:90px;
        height:42px;
        border:2px solid white;
        position: relative;
        top: 29px;
        margin-left: 250px;
            h4{
            margin-top: 23px;
            font-family: gillL;
            letter-spacing: 3px;
            color: white;
            }
        }
            .copywright{
            color: white;
            font-family: gilli;
            font-size: 12px;
            position: absolute;
            left:700px;
            width: 250px;
            margin-top: 43px;
            }
    .icons {
        font-size: 20px;
        position:relative;
        display: flex;
        height: 100px;
        margin-left: 800px;
        
        
            .fb{
                height: 22.46px;
                width: 22.46px;
                margin-left: 10px;
                border: none;
                margin-top: 47px;
                color: white;
            }
            .In{
                margin-left: 10px;
                height: 22.46px;
                width: 22.46px;
                margin-top: 47px;
                border: none;
                color: white;
                
            }
            .Tw{
                margin-left: 10px;
                height: 22.46px;
                width: 22.46px;
                margin-top: 47px;
                border: none;
                color: white;
                
            }
        }
    }
}

@media all and (max-width:1200px){
    
        footer {
            width: 100%;
            .end {
                .logo {
                    margin-left: 20px; 
                }
    
                .copywright {
                    
                    left: 270px;
                    
                }
    
                .icons {
                    position: absolute;
                    margin-left: 700px;
                    
                    .fb {
                         
                    }
                    .Tw{
                        
                    }
    
                    .In{
                         
                    }
                    
                }
            }
        }
    }


@media all and (max-width: 920px) {
    footer {
        width: 100%;
        .end {
            .logo {
                margin-left: 20px; 
            }

            .copywright {
                
                
            }

            .icons {
                right:20px;
                
                .fb {
                     
                }
                .Tw{
                    
                }

                .In{
                     
                }
                
            }
        }
    }
}

@media all and (max-width: 815px) {
    footer {
    width: 100%;
        .end {
            .logo {
                
            }

            .copywright {

                
                
            }

            .icons {
               right: 20px;
                .fb {
                
                }
                .Tw{
                     
                }

                .In{
                     
                }
                
            }
        }
    }
}

@media all and (max-width: 720px) {
    footer {
    width: 100%;
    
        .end {
            .logo {
                margin-left: 50px; 
            }

            .copywright {
                margin-right:50px;
                width:200px;
                margin-bottom: 10px;
                
            }

            .icons {
                
                .fb {
                 
                }
                .Tw{
                     
                }

                .In{
                     
                }
                
            }
        }
    }
}